<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.webucator.jqm.deviceinfo"
        versionCode="10" 
        version   = "1.0.0">

    <name>Webucator jQM PhoneGap - Device Info</name>

    <description>
        Get device platform and version
    </description>

    <author href="http://www.webucator.com" email="bhoke@webucator.com">
        Brian Hoke
    </author>
</widget>